<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/booggle/stylesheets/style.css" />
    <link rel="shortcut icon" href="/booggle/favicon.png" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
