.game .textinput {
  background: #fafafa;
  margin-left: 8px;
  width: 152px;
}

.timer {
  background-color: #aaa;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  height: 12px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.timer .timerInner {
  background: #1565c0;
  height: 100%;
  transition: width 1s linear;
  width: 0;
}

.paper {
  position: absolute;
  left: 184px;
  top: 0;
  min-height: 28px;
  background-color: #fafafa;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  line-height: 18px;
  padding: 20px 8px 8px;
  overflow: hidden;
  width: 134px;
}

.word.valid {
  color: #4caf50;
}

.word:not(.valid) {
  color: #f44336;
}
