.game .board {
  width: 168px;
  margin: 20px 8px 8px;
}

.game .textinput {
  margin-left: 8px;
  width: 152px;
}

.timer {
  background-color: var(--thin-background);
  height: 12px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.timer .timerInner {
  background: var(--primary-color);
  height: 100%;
  transition: width 1s linear;
  width: 0;
}

.paper {
  background-color: var(--thin-background);
  border-radius: 0 0 4px 4px;
  font-size: 16px;
  left: 184px;
  line-height: 18px;
  min-height: 28px;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  top: 12px;
  width: 134px;
}

.word.valid {
  color: var(--on-thin-background);
}

.word:not(.valid) {
  color: var(--error-color);
}
