.canvascard {
  flex-grow: 1;
}

.endgame #canvas {
  display: block;
}

.multirow {
  align-items: start;
  display: flex;
  gap: 8px;
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}

.rank {
  align-items: center;
  display: flex;
}

.rank .nick {
  flex-grow: 2;
}

.rank .points {
  font-family: var(--font-1);
  width: 50px;
}

.card {
  background-color: var(--thin-background);
  border-radius: 4px;
  color: var(--on-thin-background);
  overflow: hidden;
}

.card .toprow {
  align-items: center;
  display: flex;
  padding: 8px 12px;
  gap: 4px;
}

.card .nick {
  font-size: 18px;
}

.scored-words {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px;
}

.scored-words :not(.unique) {
  color: #cccccc;
}
