.canvascard {
  flex-grow: 1;
}

.endgame #canvas {
  display: block;
}

.multirow {
  align-items: start;
  display: flex;
  gap: 8px;
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}

.rank {
  align-items: center;
  display: flex;
}

.rank .nick {
  flex-grow: 2;
}

.rank .points {
  font-family: var(--font-1);
  width: 50px;
}

.card {
  background-color: var(--thin-background);
  border-radius: 4px;
  color: var(--on-thin-background);
  overflow: hidden;
}

.toprow {
  color: var(--on-primary-color);
  font-family: var(--font-1);
  font-size: 18px;
  padding: 8px 12px;
}

.scored-words {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  text-transform: lowercase;
}

.words-wrapper {
  display: grid;
  transition: grid-template-rows 0.2s ease-in-out;
  grid-template-rows: 1fr;
}

.words-wrapper.hidden {
  grid-template-rows: 0fr;
}

.words-wrapper > div {
  overflow: hidden;
}

.scored-words :not(.unique) {
  color: var(--secondary-text);
}

.all-words {
  background: var(--secondary-background);
  color: var(--on-secondary-background);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
