.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.cell {
  background-color: #ffffffcc;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  font-family: "Rubik";
  font-size: 28px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 36px;
}

.cell.qcell {
  font-size: 24px;
}
