.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.cell {
  background-color: var(--thin-background);
  color: var(--on-thin-background);
  border-radius: 4px;
  font-family: "Rubik";
  font-size: 28px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  width: 36px;
}

.cell.qcell {
  font-size: 24px;
}
