.board {
  margin: 12px 0 8px;
  width: 176px;
}

.cell {
  background-color: #ffffffcc;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  display: inline-block;
  font-family: "Rubik";
  font-size: 28px;
  height: 36px;
  line-height: 36px;
  margin-left: 8px;
  margin-top: 8px;
  text-align: center;
  width: 36px;
}

.cell.qcell {
  font-size: 24px;
}
